<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>File Upload</title>
    <meta name="author" content="Gavmo">
    <meta name="description" content="ingestion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="" />
</head>

<body>
    <header></header>
    <main>
        <form method="post" name="file" enctype="multipart/form-data">
            <input type="file" id="datafile" name="filename">
            <input type="submit">
        </form>
    </main>
    <footer></footer>
    <script type="text/javascript" src=""></script>
</body>

</html>
